<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="google-site-verification" content="vXsC8T9Wfq61QPUW1Cp5cmJHvCYfEqYKB3BNDLgXUW4" />

  <title>Inovare Representações Comerciais</title>
  <meta name="description" content="Inovare Representações Comerciais conecta grandes marcas ao mercado da construção em Joinville e região do Planalto Norte.">

  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>